@font-face {
    font-family: "Quando";
    src:url(../fonts/Quando-Regular.ttf);
}

@font-face {
    font-family: "DosisRegular";
    src:url(../fonts/Dosis-Regular.ttf);
}

@font-face {
    font-family: "Imbue";
    src:url(../fonts/Imbue-VariableFont_opsz\,wght.ttf);
}